
body{
   margin: 10px;
   font-family: inconsolata;
}
h1,h2,h3{
    font-family: Montserrat;
}
    
.top h3{
    display : inline;
}
.top img{
    width: 80px;
}
.top i{
    display : inline-block;
    
}
.result-main-con{
    border: 1px solid darkgreen;
    width: 100%;
    height : 310px;
    margin-top:30px;
}
.result-inner-con{
    padding : 5px;
}
.result-inner-con ul{
    margin:0;
    padding: 0;
}
.result-inner-con li{
    margin-bottom: 12px;
    list-style-type: none;
    font-size: 1.03em;
}
.check-result-con{
    margin-top: 10px;
}
.check-result-con input{
    height: 40px;
    width: 80%;
    margin-bottom: 20px;
}
.check-result-con input:focus{
    outline:none;
}
.check-result-con button{
    background-color: darkred;
    border: none;
    color: white;
    height : 35px;
    width: 20%;
    font-weight: bold;
    margin-left: 10px;
    border-radius: .4em;
}
.check-result-con button:nth-child(3){
    background-color: darkgreen;
    border: none;
    color: white;
    width: 30%;
    margin-left: 20px;
}
